{% extends "blog/base.html" %}
{% block content %}
<section id="showcase-inner" class="py-3 text-black">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-3">I Love Vacation Blog</h1>
                </h1>
                <big>
                    <p class="lead">Traveling Is The Only Thing You Buy That Makes You Richer!</p>
                </big>
            </div>
        </div>
    </div>
</section>
<hr>
<section id="team" class="py-5 text-center">
    <div class="container text-center">
        <p class="text-center">“Then something Tookish woke up inside him, and he wished to go and see the great mountains, and hear the pine-trees and the waterfalls, and explore the caves, and wear a sword instead of a walking-stick.” </p>
        <p class="text-center">J.R.R. Tolkien, The Hobbit</p>
        <hr>
        <p class="text-center">My name is Shimon and i'm israeli traveling enthusiastic who had the luck to visit around 40 something countries so far,traveling is my bigest passion after cooking, i worked for many years as a travel agent and tour operator.</p>
        <div class="row text-center">
            <div class="col-md-12">
                <img src="{% static 'images/about.jpg' %}" alt="shimon Profile Pic" width="400" height="250"
                    class="rounded-top z-depth-2">
                    <hr>
                <h5 class="text-success">
                    <i class="fas fa-hiking" ></i> Shimon Shitrit
                </h5>
                <p>
                    <a href="tel:054-9283508"><i class="fa fa-phone"></i> 054-9283508</a>
                    </a>
                </p>
                <p>
                    <a href="mailto: shims80@gmail.com"><i class="fa fa-envelope-open"></i>
                        shims80@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}