{% extends "blog/base.html" %}
{% block content %}
{% if user.is_authenticated %}
<!-- Start BawkBox Code-->
<script data-sil-id="60cf35718de1c8001e48c0fe">var loadWidget = function() 
{ var d = document, w = window, l = window.location,p = l.protocol == "file:" ? "http://" : "//"; if (!w.WS) w.WS = 
{}; c = w.WS; var m=function(t, o){ var e = d.getElementsByTagName("script"); e=e[e.length-1]; var n = d.createElement(t); 
if (t=="script") {n.async=true;} for (k in o) n[k] = o[k]; e.parentNode.insertBefore(n, e)}; m("script", 
{ src: p + "bawkbox.com/widget/chatroom/60cf35718de1c8001e48c0fe?page=" +encodeURIComponent(l+''), type: 'text/javascript' }); 
c.load_net = m; }; if(window.Squarespace){ document.addEventListener('DOMContentLoaded', loadWidget); setTimeOut(function()
{ document.addEventListener('DOMContentLoaded', loadWidget); }, 3000) } else { loadWidget() } </script>
<div class="sil-widget-chatroom sil-widget" id="sil-widget-60cf35718de1c8001e48c0fe">
    <a href="//bawkbox.com/install/chatroom">Public Chatroom</a></div>
<!-- End BawkBox Code-->
{% endif %}  
{% endblock content %}